.layui-nav-item span {
    margin-right: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

.layui-body {
    overflow: hidden;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    user-select: none;
}

.userinfo .text-avatar{
    margin-right: 8px;
}

.layui-nav .layui-nav-more {
    right: -7px;
}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #23262e;
}

.layui-nav-img {
    position: relative;
    top: -3px;
    display: none;
}

.text-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    background: #009688;
    vertical-align: middle;
}

.layui-footer {
    text-align: center;
}